
{% extends "app/layout.html" %}

{% block content %}
    <div class="episodeDetails">
        <div class="seasonVideo">
            {% if tvShowVideo != None %}
                <div id="seasonVideoIframe" class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" style="pointer-events:none" frameborder="0"
                        src="https://youtube.com/embed/{{ tvShowVideo }}?modestbranding=1&cc_load_policy=1&vq=large&autoplay=1&mute=1&loop=1&playlist={{ tvShowVideo }}&controls=0&autohide=1&rel=0" allowfullscreen>
                    </iframe>
                </div>
            {% else %}
                <div id="seasonVideoIframe" class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" style="pointer-events:none" frameborder="0"
                        src="https://youtube.com/embed/XXX?modestbranding=1&cc_load_policy=1&vq=large&autoplay=1&mute=1&loop=1&playlist=XXX&controls=0&autohide=1&rel=0" allowfullscreen>
                    </iframe>
                    <div class="noVideo">
                        No video available
                    </div>
                </div>                
            {% endif %}
        </div>

        {% if tvShowPoster != None %}
            <div class="seasonPoster"
                style= "background: url('https://image.tmdb.org/t/p/original{{ tvShowPoster }}');background-size: 100% 100%;">
            </div>
        {% else %}
            <div class="seasonPoster"
                style= "background: url('../../static/app/images/no_image.jpg');background-size: 100% 100%;">
            </div>
        {% endif %}

        <div class="seasonInfo">
            <h2>{{ tvShowName }}</h2>
            <p>Rating: {{ tvShowRating }}  &nbsp;&nbsp; Total Seasons: {{ tvShowTotalSeasons }}  &nbsp;&nbsp; Total Episodes: {{ tvShowTotalEpisodes }}</p>  
            <p>Seasons: {{ season_num }} </p>  
            <p>Episodes: {{ tvShowSeasonEpisodesNum }}</p>
            <p>Run Time: {{ tvShowRunTime }}m</p>
            <p>First Air Date: {{ tvShowFirstAirDate }}</p>
            <br>
            <h4>Overview: </h4>
            <p>{{ tvShowOverview }}</p>
            <br>
            {% for creators, creatorPics in showCreators %}
                <p>Creator: {{ creators }}</p>
            {% endfor %}
        </div >

        <h3> Series Cast </h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {% for casts, castPics, castIDs, castCharacters in showCasts %}
                        <div class="col-sm-3" style="min-width:150px; margin-top: 15px;">
                            <div class="card pull-left castScene">
                                <div class="castMovie">
                                    <a href="../actors/{{ castIDs }}" title="{{ title }}">
                                        {% if castPics != None %}
                                            <div class="castPics"                                                 
                                                style="background: url('https://image.tmdb.org/t/p/original{{ castPics }}');background-size: 100% 100%;"> 
                                            </div>   
                                        {% else %}
                                            <div class="castPics"       
                                                style="background: url('../../static/app/images/no_image.jpg');background-size: 100% 100%;">                                                        
                                            </div>
                                        {% endif %}     
                                        <div class="castInfo">
                                            <div class="character" > 
                                                <h6>Name:</h6> {{ casts }} <br> <br>
                                                <h6>Character:</h6> {{ castCharacters }}
                                            </div>
                                        </div>                                  
                                    </a>                                    
                                </div>
                            </div>
                        </div>        
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <form action='../episode_details' method='POST'>
        {% csrf_token %}
        <div class="episodeContainer">  
            <div class="episodeSetting">
                {% for title,epNum,poster in ep_details %}
                        <div class="episodePoster">
                            {% if poster != None %}
                                <div class="posterMedia" >
                                    <img class="episodePosterImg" src="https://image.tmdb.org/t/p/original{{ poster }}" alt=""  />
                                </div>
                            {% else %} 
                                <div class="posterMedia" >
                                    <img class="episodePosterImg" src="../../static/app/images/no_ep_image.jpg" alt=""  />
                                </div>
                            {% endif %}
                            <button id="imageButton" 
                                type="submit" 
                                name="episodeNum" 
                                value={{ epNum }}>
                            </button>
                            <h5>Episode {{ epNum }} </h5>
                            <input type="hidden" id="custId" name="seasonNum" value={{season_num}}> 
                        </div>
                {% endfor %}
            </div>
        </div>
    </form> 
{% endblock %}