
{% extends "app/layout.html" %}

{% block content %}
    <div class="episodeDetailContainer">
        {% if epPoster != None %}
            <div class="episodeDetailPoster"
                style= "background: url('https://image.tmdb.org/t/p/original{{ epPoster }}');background-size: 100% 100%;">
            </div>
        {% else %}
            <div class="episodeDetailPoster"
                style= "background: url('../../static/app/images/no_ep_image.jpg');background-size: 100% 100%;">
            </div>
        {% endif %}

        <div class="episodeDetailInfo">
            <h4>{{ epName }}</h4>
            <p>Rating: {{ epVote }} &nbsp;&nbsp; Rating Count: {{ epVoteCount }} &nbsp;&nbsp; Season: {{ seasonNum }} &nbsp;&nbsp; Episode: {{ episodeNum }}</p>  
            <p>Air Date: {{ epAirDate }}</p>
            <h5>Overview: </h5>
            <p>{{ epOverview }}</p>
        </div>
    </div>   

    <div class="episodeDetailCrewGuest">
        <h3 class="episodeDetailTitle"> Crew List </h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {% for crews, crewPics, crewIDs, crewDepartments, crewJobs in showCrews %}
                        <div class="col-sm-3" style="min-width:150px;">
                            <div class="card pull-left castScene">
                                <div class="castMovie">
                                    <a href="../actors/{{ crewIDs }}" title="{{ title }}">
                                        {% if crewPics != None %}
                                            <div class="castPics"                                                 
                                                style="background: url('https://image.tmdb.org/t/p/original{{ crewPics }}');background-size: 100% 100%;"> 
                                            </div>   
                                        {% else %}
                                            <div class="castPics"       
                                                style="background: url('../../../static/app/images/no_image.jpg');background-size: 100% 100%;">                                                        
                                            </div>
                                        {% endif %}     
                                        <div class="castInfo">
                                            <div class="character" > 
                                                <h6>Name:</h6> {{ crews }}                                        
                                                <h6>Department:</h6> {{ crewDepartments }}
                                                <h6>Job:</h6> {{ crewJobs }}
                                            </div>
                                        </div>                                  
                                    </a>                                    
                                </div>
                            </div>
                        </div>        
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="episodeDetailCrewGuest">
        <h3 class="episodeDetailTitle"> Guest List </h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {% for guests, guestPics, guestIDs, guestCharacters in showGuests %}
                        <div class="col-sm-3" style="min-width:150px;">
                            <div class="card pull-left castScene">
                                <div class="castMovie">
                                    <a href="../actors/{{ guestIDs }}" title="{{ title }}">
                                        {% if guestPics != None %}
                                            <div class="castPics"                                                 
                                                style="background: url('https://image.tmdb.org/t/p/original{{ guestPics }}');background-size: 100% 100%;"> 
                                            </div>   
                                        {% else %}
                                            <div class="castPics"       
                                                style="background: url('../../static/app/images/no_image.jpg');background-size: 100% 100%;">                                                        
                                            </div>
                                        {% endif %}     
                                        <div class="castInfo">
                                            <div class="character" > 
                                                <h6>Name:</h6> {{ guests }}                                        
                                                <h6>Characters:</h6> {{ guestCharacters }}
                                            </div>
                                        </div>                                  
                                    </a>                                    
                                </div>
                            </div>
                        </div>        
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}