
{% extends "app/index.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% for poster, id, title, overview, homepage, backdrop in showDetails %}
                    {% if poster != None %}
                        <div class="col-sm-3" style="min-width:270px; margin-top: 15px;">
                            <div class="card pull-left scene">
                                <div class="movie">    
                                    <a href="../seasons/{{ id }}" title="{{ title }}">
                                        <div class="posterSearch" 
                                            style="background: url('https://image.tmdb.org/t/p/original{{ poster }}');background-size: 100% 100%;"> 
                                        </div>
                                        <div class="info">
                                            {% if backdrop != None %}
                                                <header style="background-image: url('https://image.tmdb.org/t/p/original{{ backdrop }}')"> </header>
                                            {% else %}
                                                <header style="background-image: url('../../static/app/images/no_ep_image.jpg')"></header>
                                            {% endif %}                                            
                                            <div class="overview" ><h5>Overview:</h5>{{ overview }}</div>
                                        </div>                                       
                                    </a>                                    
                                </div>
                            </div>
                        </div>        
                    {% endif %}            
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}